src/resources/Persons-validation-required.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:simpleType name="ageType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="12|13"></xs:pattern>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="Person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstName" type="xs:string" />
				<xs:element name="lastName" type="xs:string" />
				<xs:element name="age" type="ageType" />
				<xs:element name="dateOfBirth" type="xs:string" />
				<xs:element name="address" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
</xs:schema>

 
   