src/resources/Persons.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="firstName" type="xs:string" />
				<xs:element name="lastName" type="xs:string" />
				<xs:element name="age" type="xs:string" />
				<xs:element name="dateOfBirth" type="xs:string" />
				<xs:element name="address" type="xs:string" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

 
   